<?php
require_once "header.php";
checklogin();
?>

<!DOCTYPE html>
<html>

<head>

  <!--CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="../css/allevent.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

</head>

<body>
  <%- include header %>
    <div class="apdiv">
      <h1>All the vote events are here</h1>
      <h2>
        Let click the join button to join event!
        <br>
      </h2>
    </div>
    <% for (var i = 0; i < events.length; i++) { %>
      <div>
        <div class="apbox">
          <div class="apboxcon">
            <div class="apboxdiv">
              <div style="width: max-content; height: max-content; float: right;">

                <% if (events[i].state == "registration" && checkjoined[i] == false && events[i].owner != username) { %>
                  <a class="apbtn" href="/allevent/<%= events[i].eid %>">join</a>
                <% } else if (checkjoined[i] == true) { %>
                    <a class="apdisbtn">joined</a>
                <% } else { %>
                  <a class="apdisbtn">join</a>
                <% } %>
              </div>
              <div style="width: 300px;">
                <div>
                  question: <%= events[i].question %><br>
                    owner: <%= events[i].owner %><br>
                      state: <%= events[i].state %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
</body>

</html>